# Credenciales de Firebase de la cuenta omanjrvasquez@gmail.com
VITE_FIREBASE_API_KEY=tu_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=bodegapro-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bodegapro-app
VITE_FIREBASE_STORAGE_BUCKET=bodegapro-app.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_sender_id
VITE_FIREBASE_APP_ID=tu_app_id
